extends ./partials/layout.pug

block content
    nav
        h3.no-margin
            img(src="/img/gdg-logo.png", alt="gdg logo") 
            span Umuahia
            
    .container.speakers
        h3 Event Speakers
        .speaker.col-md-4.col-sm-6.col-xs-6
            img(src="https://pbs.twimg.com/profile_images/929647992847720454/Qrn28Fu3_400x400.jpg", alt="speaker", class="img-rounded")
            h4 Emmanuel Mezie (@i_mezie)
            p Web Developer
        .speaker.col-md-4.col-sm-6.col-xs-6
            img(src="https://pbs.twimg.com/profile_images/913804665103507458/iL_rwXY4_400x400.jpg", alt="speaker", class="img-rounded")
            h4 Olushi Luqman (@codeshifu)
            p Web/Android Developer
        .speaker.col-md-4.col-sm-6.col-xs-6
            img(src="https://pbs.twimg.com/profile_images/931071399833333760/e7vzcmGj_400x400.jpg", alt="speaker", class="img-rounded")
            h4 Michael C.  Nwankwo (@gravi__ty)
            p Android Developer
        .speaker.col-md-4.col-sm-6.col-xs-6
            img(src="https://scontent.flos6-1.fna.fbcdn.net/v/t1.0-9/20525306_1926624817626299_7052616052694016757_n.jpg?_nc_eui2=v1%3AAeFcY5BpwBAoVrETTLD-UjTGGNpS6MOksDvm6SdixonTHrOkef2OlP15wf5stXeCzpwr4wiEo8SRQ1wnI6oFO7TUO7e_V6QPA3OJSEGTNt02FA&oh=9e90632e9854e7a29bc89390d0c16085&oe=5AD27F95", alt="speaker", class="img-rounded")
            h4 Ogwo Chinaza Ogwo (@chinaza ogwo)
            p Android Developer
        .speaker.col-md-4.col-sm-6.col-xs-6
            img(src="/img/3.jpg", alt="speaker", class="img-rounded")
            h4 Stephen
            p UX/UI Designer
        .speaker.col-md-4.col-sm-6.col-xs-6
            img(src="/img/4.jpg", alt="speaker", class="img-rounded")
            h4 Mr. Legend
            p UX/UI Designer
    
        script.
            //- TODO: 1 register serviceWorker
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/sw.js').then(function () {
                    console.log('yay!')
                })
            }